@font-face {
    font-family:'Fjalla One';
    src: url('../font/FjallaOne.woff');
    font-weight: normal;
}

@font-face{
    font-family: 'Lato';
    src: url("../font/Lato-Regular.woff")
}

.hidden{
    display:none;
}

html, body{
    background: url("../img/zp-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    color: #fff;
    width:100%;
    box-sizing:border-box;
    
    
} 

nav{
    margin-top:0;
}

p{
    font-family: 'Lato', sans-serif;
}

.above-nav{
    background-color:#ffc800;
    height:4px;
    position:fixed;
    z-index:9999;
    width:100%;
}

.main{
    /*background-color:#4c1a1a;*/
    
}

.nav-logo{
    margin-left:5%;
    font-family: 'Fjalla One';
}

.nav-btn{
    background-color:#000000;
    font-family:'Lato', sans-serif;
    font-weight:bold;
    margin-top:0px;
    display:inherit;
}

.nav-btn:hover{
    background-color:#ffc800;
}

a.active{
    background-color:#ffc800;
}

.the-menu{
    margin-left:5%;
}

.navbar{
    margin-right:5%;
}

.side-nav{
    background-color:#000;
}

.active{
    background-color:#ffc00 !important;
}

.side-nav li{
    padding:0;
}

.side-nav a{
    color:#636363;
}

h1, h2, h3, h4, h5{
    font-family: 'Fjalla One';
    color: #ffc800;
}

.title-logo{
    color:white;
    font-size:80px;
    font-family: 'Fjalla One';
}

.home-center{
    margin-bottom:10px;
    visibility:hidden;
    position:relative;
    top:-58px;
}

.display-btn{
}

.btn, .btn-large {
    background-color:#FFc800;
}

.btn:hover, .btn-large:hover {
    background-color:#FFE174;
}

.hell-hole{
    font-size:1.8em;
    position:relative;
    top:-200px;
    visibility:hidden;
}


.banner{
    height:75%;
    width:100%;
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
    overflow: hidden;
}

.deploy{
    position:relative;
    top:-150px;
}

.modalbtn{
    border:2px solid white;
    height:70px;
    width:70px;
}

#chatus{
    line-height: 67px;
    font-size: 2.5em;
}

.modaltrigger-container{
    position:relative;
    top:-75px;
}

.modal-content{
    background-color:#000;
}

.modal-footer{
    background-color:#404040 !important;
}

.promo{
    margin:5px 5%;
    display:inline;
    float:right;
}

.promo-icon{
    height:20px;
    width:auto;
    margin:5px;
}


.login-box{
    border-radius:15px;
    padding:10px;
    margin-top:5%;
}

#chtxt{
    display:none;
}

#chapter, #page{
    color:#ffc800;
    font-weight:bold;
    margin-right:5px;
}

#loader{
    position:absolute;
    top:50%;
    left:50%;
}

.cnav-btn{
    width:105px;
    height:auto;
}

.btn{
    margin:10px;
}

#open-add{
    font-size:1.6em;
    font-weight:bold;
}

.pull-right{
    float:right;
}

.pull-left{
    float:left;
}

/*******DataTable theming ****** */
#tbl{
    visibility:hidden;
}
.ui-widget-header {
    border:0 !important;
    background: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color:#000 !important;
}

td{
    color:#000;
    font-size:.85em ;
}

/*table.dataTable th,table.dataTable td { white-space: nowrap; }*/
td, th {
    border-radius:0px;
}

table {
    max-width: none;
}

#lblSearch{
    color:#000;
}

.material-icons{
    color:white;
}

.dataTables_wrapper .dataTables_filter {
    text-align:left !important;
}

.searchlbl{
    color:white;
    font-size:1em;
    margin-left:10px;
}

/********************************/

@media only screen and (max-height: 535px){

    .home-center{
        top:0px;
    }
    .hell-hole{
        top:-120px !important;
    }
    .hhtext{
        font-size:25px;
    }
    
    .modaltrigger-container{
        top:-100px;
    }
    
    .modalbtn{
        height:50px;
        width:50px;
    }
    
    #chatus{
        line-height:44px;    
    }
}

@media only screen and (max-height: 640px){
    .hell-hole{
        top:-105px;
    }
}

@media only screen and (max-width: 992px){

    .brand-logo {
        left:52% !important;
    }
    .title-logo{
        font-size:60px;
    }
    .hell-hole{
        top:-170px;
    }
    .hhtext{
        font-size:25px;
    }
}

@media only screen and (max-width: 320px){ /*iphone 4 small shit*/

    .brand-logo {
        left:52% !important;
    }
    .home-center{
        top:-60px !important;
    }
    .title-logo {
        font-size: 40px;
    }
    .hell-hole {
        top: -100px;
    }
    .hhtext {
        font-size: 20px;
    }
    #chatus {
        line-height: 57px;
        font-size: 2.5em;
    }
    .modalbtn {
        height: 60px;
        width: 60px;
    }
    .modaltrigger-container {
        position: relative;
        top: -36px;
    }
    
    .deploy {
        position: relative;
        top: -81px;
    }
}